@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style:none;  
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #D9AFD9;
    background-image: linear-gradient(117deg, #D9AFD9 0%, #97D9E1 33%, #ffa8c0 66%, #ffe397 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}

.container {
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);/*280px*/
    min-height: 300px;
    background: rgba(255, 255, 255, 0.2); /*255, 255, 255, 0.5*/
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 50px;*/
    /*backdrop-filter: blur(50px);*/
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 50px;
    padding-right: 50px;
}


header {
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

header .logo {
    color: #2A0033; /*#524B61 #21252C*/
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin: 0 10px;
}

header ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #2A0033;
    padding: 8px 15px;
    border-radius: 25px;
    cursor: pointer;
}

header ul li a:hover, header ul li a.active {
    background: #9C8CBF; /*#FFF*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #2A0033;
}
ul li a {
    text-decoration: none;
    color: #734fc0;
}

.content {
    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    padding-left: 110px;
}

.content h2 {
    font-weight: 700;
    font-size: 3em;
    color: #2A0033;
}

.content p {
    font-size: 1.2em;
    color: #1F0225;
}

.content a {
    display: inline-block;
    padding: 15px 30px;
    background:#db7192; /*#FFF #9C8CBF*/
    color: #670B27; /*#2A0033*/
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.btn {
    position: relative;
    cursor: pointer;
}

.btn .play {
    transition: 0.5s;
}

#progress {
    -webkit-appearance: none;
    width: 50%;
    height: 6px;
    background: #e56688;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #e56688;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.controls {
    display: inline-block;
}

.controls div {
    width: 60px;
    height: 60px;
    margin: 2px;
    background: #db7192;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #670B27;
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer;
    
}

.controls div i {
    transform: scale(1.5);
}

.titulo {
    font-weight: 700;
    font-size: 3em;
    color: #2A0033;
}
.texto {
    font-size: 1.1em;
    color: #1F0225;
}

/*.btn.active .play {
    box-shadow: 0 0 0 20vh #f42e79;
}*/

.clip {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    /*height: max-content;
    width: max-content;*/
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    transition: 0.5s;
}

.clip.active {
    transition-delay: 0.5s;
    transform: translate(-50%, -50%) scale(1);
}

.clip video {
    max-width: 300px;
    outline: none;
    border: 10px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

.clip .close {
    position: absolute;
    top: -30px;
    right: 220px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
}

.bg-card {
    background-color: rgb(153,156,218,1)!important;
}

.btn-card {
    background-color: #734fc0!important;
    border: #734fc0!important;
    color: #fff !important;

}

.btn-card:hover {
    background-color: #5e409e!important;
}

/*====================== TABLA ====================0*/
.container-table {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

table {
    color: #2A0033;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    border: solid 1px #bdbdbd;
}

thead {
    background: rgb(231 231 231 / 54%);
}

th {
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    padding: 15px;
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: rgb(255, 169, 194);
}

/*===============RESPONSIVE===================*/
@media (min-width: 801px) and (max-width: 991px) {
    .clip video {
        max-width: 50%;
    }
    .clip {
        height: max-content;
    }
    .clip .close {
        position: fixed;
        right: 150px;
        top: -30px;
    }
}

@media (min-width: 651px) and (max-width: 800px) {
    .clip video {
        max-width: 70%;
    }
    .clip {
        height: max-content;
    }
}

@media (min-width: 320px) and (max-width: 650px) {
    .clip video {
        max-width: 100%; /*300px*/
    }
    .clip {
        height: max-content;
    }
}

/*=============AVATAR================*/
.imgBx img {
    max-width: 400px; /*400px*/
    animation: animate 5s linear infinite;
}


/*@keyframes animate {
    0%,100% {
        transform: translateY(50px);
    }
    50% {
        transform: translateY(100px);
    }
}*/

.sci {
    position: absolute;
    right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: #9C8CBF; /*#FFF #9C8CBF*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.sci li a i {
    /*transform: scale(0.6);*/
    transition: 0.5s;
    color: #2A0033;
}

.sci li:hover a i {
    transform: /*scale(0.6)*/ rotate(360deg);
    color: #2A0033;
}

.copyrightText {
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: #670B27; /*#2A0033*/
}

#parrafo-flecha-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 20px;
    background-color: #9C8CBF;
    color:#fff;
    font-size: 13px;
    font-weight: 500;
    padding: 30px;
    margin-right: 300px;
    border-radius: 10px;
    visibility: hidden;
}
#parrafo-flecha-icon::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #9C8CBF;
    transform: rotate(45deg);
    /*top: 140px;*/
    right: -10px;
}

/*==================== CONTACT FORM =======================*/
.first_col {
    background-color: white;
    height: 490px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    width: 550px;
    left: 100px;
    top: 80px;
    border-radius: 20px;
}

.img-fluid {
    border-radius: 20px;
}

.btn-primary {
    background-color: #c1b688;
    border: #c1b688;

}

.btn-primary:hover {
    background-color: black !important;
}

.form-control {
    height: 52px;
    background: #fff;
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #c1b688;
}
.form-control[type=text]:focus {
border: 2px solid #555;
}

/*========================= RESPONSIVE ==========================*/
@media (min-width: 1201px) and (max-width: 1260px) {
    .container {
        position: relative;
        width: calc(100% - 20px);
        padding: 50px;
    }
}

@media (max-width: 1200px) {
    .container {
        position: relative;
        width: calc(100% - 20px);
        padding: 50px;
    }
}

@media (min-width: 1085px) and (max-width: 1400px) {
    .clip .close {
        right: -20px;
    }
    .clip {
        height: max-content;
        width: max-content;
    }
}

@media (min-width: 1030px) and (max-width: 1084px) {
    .content {
        padding: 20px;
    }
    .clip .close {
        right: -20px;
    }
    .clip {
        height: max-content;
    }
}

@media (min-width: 993px) and (max-width: 1029px) {
    .content {
        padding: 20px;
    }
    .clip .close {
        right: -50px;
    }
    .clip {
        height: max-content;
    }
    
}

@media (max-width: 992px) {
    section {
        padding: 50px 10px 10px;
    }
    .container {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
    .container .content {
        transform: translateX(0px);
        max-width: 100%;
        padding: 30px;
        margin-top: -40px;
    }
    header {
        position: relative;
        flex-direction: column;
        width: 100%;
        top: -60px;
        padding: 20px;
        right: 0;
        left: 0;
    }
    header ul {
        margin-top: 10px;
        flex-wrap: wrap;
    }
    header ul li {
        margin: 2px;
    }
    header ul li a {
        display: inline-block;
    }
    .imgBx {
        margin-bottom: 50px;
    }
    .content a {
        font-size: 1em;
        padding: 10px 20px;
    }
    .sci {
        position: relative;
        flex-direction: row;
        left: 0;
    }
    .sci li a {
        margin: 0 10px;
    }
    .copyrightText {
        position: relative;
        bottom: initial;
        left: inherit;
        width: 100%;
        color: #1b1823;
        text-align: center;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .first_col {
        position: initial;
        left: 0 !important;
    }

    .sec_col {
        order: 1 !important;
    }

    .row-last {
        left: 0 !important;
        height: 100px !important;
        top: 0 !important;
    }
}

@media (min-width: 601px) and (max-width: 744px) {
    .row {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .content h2 {
        font-size: 1.5rem;
        color: #373147;
    }
    .content p {
        font-size: 1em;
        color: #524B61; /*#524B61*/
    }
    .imgBx img {
        max-width: 300px;
    }
}

@media (min-width: 320px) and (max-width: 992px) {
    #parrafo-flecha-icon {
        margin-right: 0;
        margin-bottom: 150px;
    }

    #parrafo-flecha-icon::before {
        right: auto;
        top: 50px;
    }
}